.container {
  max-width: 1120px;
	margin: 0 auto;
	padding: 3rem 1rem;

  h1 {
    font-size: 3.375rem;
    font-weight: 900;
    margin-bottom: 1.5rem;
  }

  time {
    color: var(--grey-300);
    margin-bottom: 2rem;
  }

  .content {
    font-size: 1.125rem;
    line-height: 2rem;
    p {
      margin: 1.5rem 0;
    }
    h3 {
      font-size: 1.5rem;
      font-weight: 700;
      margin: 3rem 0;
    }
    ul {
      li {
        margin: 1rem 0;
      }
      li::before {
        content: '\2022';
        color: var(--yellow-500);
        font-weight: 700;
        display: inline-block;
        width: 1.5rem;
      }
    }
    pre {
      background-color: var(--grey-500);
      padding: 2rem;
      border-radius: 0.25rem;
      margin: 0.5rem 0 2rem;
    }
    a {
      color: var(--cyan-500);
      transition: filter 0.2s;
      &:hover {
        filter: brightness(1.1);
      }
    }
  }
}