.button {
  border: none;
  background-color: var(--yellow-500);

  height: 4rem;
  padding: 1rem 4rem;
  border-radius: 4rem;

  font-size: 1.5rem;
  color: var(--grey-900);
  font-weight: 700;

  &:hover {
    filter: brightness(0.8)
  }

  transition: filter 0.3s;
}